div.hidden {
  display: none;
  text-align: center;
  text-decoration: underline;
}

div.active {
  border: 6px solid blue;
  width: 110px;
}

img.bigcoin {
  width: 50px;
}

img.smallcoin {
  width: 50px;
  
}
